__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
.venv/
.idea/
.vscode/
*.swp
*.log
.DS_Store
.env
.env.*
Dockerfile
docker-compose.yml
.git

Dockerfile/prod/
docker-compose-prod.yaml

frontend/
!frontend/Dockerfile
!frontend/**

backend/
!backend/Dockerfile
!backend/**