__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
.venv/
.idea/
.vscode/
*.swp
*.log
.DS_Store
.env
.env.*
Dockerfile
docker-compose.yml
.git

# frontend/
# !frontend/Dockerfile
# !frontend/**

# backend/
# !backend/Dockerfile
# !backend/**