__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
.venv/
.idea/
.vscode/
*.swp
*.log
.DS_Store
.env
.env.*



backend/
frontend/
assets/
bundles-src/
bundles/
node_modules/
.parcel-cache/
package-lock.json
package.json